    <%- partial('_partial/mathjax', {}, {cache: true}) %>
    <script src="<%- config.root %>js/jquery.min.js"></script>
    <script src="<%- config.root %>js/jquery.scrollex.min.js"></script>
    <script src="<%- config.root %>js/jquery.scrolly.min.js"></script>
    <script src="<%- config.root %>js/skel.min.js"></script>
    <script src="<%- config.root %>js/util.js"></script>
    <script src="<%- config.root %>js/main.js"></script>
    <script src="<%- config.root %>js/three.js"></script>
    <script src="<%- config.root %>js/OrbitControls.js"></script>
    <script src="<%- config.root %>js/STLLoader.js"></script>